/**
 * This CSS file contains styles for a Kanban board application.
 * It sets the default styles for the entire page, including the background color,
 * font family, and font size. It also defines styles for the main container,
 * table, modal, and buttons used in the application.
 * 
 * The styles are organized into different sections, such as body, main, table,
 * and modal, making it easy to understand and modify the styles as needed.
 * 
 * Author: Gabriel
 * Version: 1.0
 * Last Updated: September 15, 2021
 */
* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
}

body {
  background-image: linear-gradient(
    109.6deg,
    rgb(62, 161, 219) 11.2%,
    rgba(93, 52, 236, 1) 100.2%
  );
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 4rem;
  color: #f2f2f2;
}

.main__table {
  border-collapse: collapse;
  width: 80%;
  max-width: 50rem;
  padding: 2rem;
}

.table__header {
  background-color: #f0f5ff;
}

.table__title {
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  border: 1px solid #ddd;
}

.table__body td {
  padding: 1rem;
  text-align: center;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.table__body tr {
  background-color: #f0f5ff;
}

.modal--show {
  border-radius: 1rem;
  border: 0;
  padding: 2rem;
  background-color: #f0f5ff;
  width: 50%;
  margin: auto;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal--show .modal__btns {
  display: flex;
  justify-content: space-around;
}

.modal--show .modal__title {
  text-align: center;
  font-size: 1.5rem;
}

.modal--show .modal__input,
.modal--show .modal__textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  resize: none;
}

.modal--show .input--error {
  border: 1px solid #dd4747;
}

.modal__btns button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  cursor: pointer;
}

.modal__btns button:hover {
  background-color: #ddd;
}

.modal__btns button:nth-child(1) {
  background-color: #dd4747;
  color: #f2f2f2;
}

.modal__btns button:nth-child(1):hover {
  background-color: #c23b3b;
}

.modal__btns button:nth-child(2) {
  background-color: #31b791;
  color: #f2f2f2;
}

.modal__btns button:nth-child(2):hover {
  background-color: #295474;
}
